<footer>
    <div id="footer-info">
        <div id="inst-div">
            <span id="inst-title">Institucional</span>
            <a class="inst-link" href="#">Mapa do site</a>
            <a class="inst-link" href="#">Empresa</a>
            <a class="inst-link" href="#">Trabalhe conosco</a>
            <a class="inst-link" href="#">Política de troca</a>
            <a class="inst-link" href="#">Entregas</a>
        </div>
        <div id="sac-div">
            <span id="sac-title">Atendimento ao cliente</span>
            <a class="sac-link" href="#">Contatos</a>
            <a class="sac-link" href="#">E-mail</a>
            <a class="sac-link" href="#">Chat</a>
        </div>
        <div id="social-div">
            <span id="social-title">Nos siga nas redes sociais</span>
            <div id="social-icons">
                <a class="social-icon" href="https://www.facebook.com.br">
                    <img src="https://img.icons8.com/ios-filled/30/000000/facebook-f.png" alt="Facebook" />
                </a>
                <a class="social-icon" href="https://www.twitter.com.br">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" alt="Twitter" />
                </a>
                <a class="social-icon" href="https://www.whatsapp.com">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/whatsapp.png" alt="WhatsApp" />
                </a>
                <a class="social-icon" href="https://www.instagram.com.br">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" alt="Instagram" />
                </a>
                <a class="social-icon" href="https://www.linkedin.com.br">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin-2--v1.png" alt="LinkedIn" />
                </a>
            </div>
        </div>
    </div>
    <div id="copy-txt">
        <span>Nome da Loja - 2022 &copy; Todos os direitos reservados.</span>
    </div>
</footer>