<div id="page-top">
    <div id="store-id">
        <div id="menu-mobile">
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <img class="header-icon" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/menu-rounded.png" class="store-header-icon" alt="Menu Mobile" />
            </a>
        </div>
        <div id="logo-div">
            <div>
                <img class="brand-logo" src="https://img.icons8.com/metro/50/FFFFFF/shop.png" alt="Logo da loja" />
            </div>
            <a id="title-link" href="index.html">
                <h1 id="page-title">Nome da Loja</h1>
                <span id="slogan">Slogan da loja</span>
            </a>
        </div>
    </div>
    <div id="store-header-btns">
        <div class="store-header-btn">
            <a href="#">
                <img class="header-icon" src="https://img.icons8.com/ios-glyphs/50/FFFFFF/search--v1.png" class="store-header-icon" alt="Busca" />
            </a>
        </div>
        <div class="store-header-btn">
            <a href="#">
                <img class="header-icon" src="https://img.icons8.com/ios-glyphs/50/FFFFFF/shopping-cart--v1.png" class="store-header-icon" alt="Carrinho de compras" />
            </a>
        </div>
        <div class="store-header-btn">
            <a href="#">
                <img src="https://img.icons8.com/material-rounded/50/FFFFFF/guest-male.png" class="store-header-icon" alt="Área do usuário" />
            </a>
        </div>
    </div>
</div>

<div>
    <ul id="slide-out" class="sidenav">
        <li>
            <a class="sidenav-close right" href="#!">
                <img src="https://img.icons8.com/windows/32/null/macos-close.png"/>
            </a>
        </li>
        <li class="menu-list-item" (click)="showDepartamentos()">
            <a class="menu-list-link" href="#">
                Departamentos 
                <span *ngIf="this.departamentos">▴</span>
                <span *ngIf="!this.departamentos">▾</span>
            </a>
            <ul *ngIf="this.departamentos" class="dropdown">
                <li>
                    <a href="#">
                        Esportes
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cosméticos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Papelaria
                    </a>
                </li>
                <li>
                    <a href="#">
                        Casa
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-list-item">
            <a class="menu-list-link" href="#">Promoções</a>
        </li>
        <li class="menu-list-item">
            <a class="menu-list-link" href="#">Nossa Loja</a>
        </li>
        <li class="menu-list-item" (click)="showPoliticas()">
            <a class="menu-list-link" href="#">
                Políticas
                <span *ngIf="this.politicas">▴</span>
                <span *ngIf="!this.politicas">▾</span>
            </a>
            <ul *ngIf="this.politicas" class="dropdown">
                <li>
                    <a href="#">
                        Entrega
                    </a>
                </li>
                <li>
                    <a href="#">
                        Troca
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-list-item" (click)="showMinhaConta()">
            <a class="menu-list-link" href="#">
                Minha Conta
                <span *ngIf="this.minhaConta">▴</span>
                <span *ngIf="!this.minhaConta">▾</span>
            </a>
            <ul *ngIf="this.minhaConta" class="dropdown">
                <li>
                    <a href="#">
                        Meus dados
                    </a>
                </li>
                <li>
                    <a href="#">
                        Meus Pedidos
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>