<app-header></app-header>
<app-sidenav></app-sidenav>
<main>
    <div>
        <img id="banner-sale" src="../../../assets/sale_banner.png" alt="Banner de promoção" />
    </div>
    <div id="main-content">
        <div id="new-section">
            <h2 id="new-section-title">
                Lançamentos
            </h2>
            <a href="#" id="new-section-btn">
                Ver todos
            </a>
        </div>
        <div id="new-cards">
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
            <div class="new-card">
                <div class="new-card-img">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/shopping-bag.png" alt="Produto" />
                </div>
                <div class="new-card-txt">
                    <span>Nome do produto</span>
                    <span>R$ 0,00</span>
                </div>
                <div id="new-card-btn-div" (click)="openProduct()">
                    <a class="new-card-btn" href="/product">Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>